.carrossel__titulo {
    background-color: var(--branco);
    text-align: center;
    color: var(--laranja);
    font-size: 18px;
    font-weight: 700;
    padding: 1.25em 0 0.75em 0;
    text-transform: uppercase;
}


.swiper-slide img {
    width: 100%;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

.card {
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1.5em;
    padding: 1em;
}

.card__descricao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    align-items: flex-start;
}

.descricao__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.descricao__titulo-livro {
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
    line-height: 27px;
}

.descricao__texto {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    margin-right: 2.75em;
}

.card__botoes {
    display: flex;
    justify-content: space-between;

}

.botoes {
    display: flex;
}

.botoes__item {}

.botoes__ancora {
    background-color: var(--laranja);
    padding: 1em 2.2em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
}


@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        padding-top: 2em;
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper-pagination-bullet {
        width: 0.75em;
        height: 0.75em;
    }
    .swiper-pagination-bullet-active {
        background: var(--azul) !important;
   }

    .swiper {
        width: 70%;
        padding-left: 3em;
        padding-right: 3em;
        position: relative;
    }

    .swiper-button-prev, .swiper-button-next{
      position: absolute;
      top: 14em;
      background: var(--azul);
      color: white;
      padding: 0.1em 0.6em;
      border-radius: 50%;
    }

    .swiper-button-prev::after,.swiper-button-next::after {
        font-size: 0.5em!important;
        font-weight: bold;
    }

    
    .card {
        width: 55%;
        margin: 2.5em auto;
    }
    



}