.cabeçalho__menu-hamburger {
    margin: 0 1em 0 1em;
    width: 24px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    padding-right: 1em;
}

.container__botao:checked ~ .container__rotulo > .cabeçalho__menu-hamburger {
    background-image: url("../img/Menu\ Aberto.png");
    padding: 1.5em 0em 1em 1em;
}

.container__imagem {
    padding: 0.5em;
}

.cabecalho__titulo {
    display: none ;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.container__botao:checked~.container__rotulo {
    background: var(--azul-degrad);
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__item:hover>.lista-menu__link {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.lista-menu__item, 
.lista-menu__titulo {
    background-color: var(--branco);
    padding: 1em;
}

.lista-menu__titulo {
    color: var(--laranja);   
    font-weight: 700; 
}

.lista-menu__link {
background: var(--azul-degrad);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;    
text-transform: uppercase;
}

.container__botao {
    display: none;
}

.opcoes {
    display:none;
    font-family: var(--font-secundaria);
    line-height: 24px;
    color: black;
}

.opcoes__item {
    padding: 1em 2em;
    text-transform: uppercase;
}

.opcoes__link {
    text-decoration: none;
}

.container__texto {
    display: none;
}

@media screen and (min-width: 1024px){
    .container__imagem {
        margin-left: 3em;
    }
    .cabecalho__titulo {
        display:contents;
        font-family: var(--font-secundaria);
        font-size: 30px;
        line-height: 30px;
        font-weight: 300;
    }

    .cabecalho__titulo--negrito{
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }
    .omitir__conteudo__screen_1024 {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked~.opcoes__rotulo>.opcoes__item {
        background: var(--azul-degrad);
        color: var(--branco);
        font-weight: 700;
    }

    .lista-menu__item:hover>.lista-menu__link {
        -webkit-text-fill-color: var(--branco);
    }

    .lista-menu__item:hover {
        background-color: var(--azul);
    }

}

@media screen and (min-width: 1728px){
    .cabeçalho {
        padding: 0 2em;
    }
    .container__link {
        display: flex;
        align-items: center;
        padding: 1em;
        text-decoration: none;
    }

    .container__texto {
        display: block;
        font-size: 20px;
        line-height: 30px;
        font-family: var(--font-secundaria);
        color: black;
    }

    .opcoes {
        margin-right: auto;
        padding-left: 2em;
    }

}