.topicos {
    background: var(--azul-degrad);
    padding-bottom: 1em;
}

.topicos__div {
    background-color: var(--branco);
    padding: 0.5em;
}

.topicos__titulo {
    color: var(--branco);
    line-height: 24px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5em 0;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.topicos__item {
    margin: 1.5em 0.5em;
}

.topicos__link {
    color: var(--branco);
    padding: 1.25em 1.5em;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    background-color: var(--laranja);
}

@media screen and (min-width: 1024px){
    .topicos__titulo {
        color: var(--branco);
        font-weight: 300;
        line-height: 36px;
        font-size: 24px;
        padding: 1em 0 1 0;
    }

    .topicos__lista {
        margin: auto 4em;
    }

    .topicos__item {
        margin: 2em 1em;
    }

    .topicos__link {
        padding: 1.25em 1.5em;
        font-size: 24px;
        line-height: 36px;
        font-weight: 700;
        font-family: var(--font-secundaria);
    }

}

@media screen and (min-width: 1728px){
    .topicos__div {
        display: none;
    }

    .topicos {
        padding: 4em 25vw;
    }

    .topicos__titulo {
        color: var(--branco);
        line-height: 48px;
        font-size: 32px;
        padding: 0 0 1em 0;
    }

    .topicos__lista {
        margin: auto;
    }
}